

.expenseList {
    font-family: Arial, sans-serif;
   

  }
  
  .expenseTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  .expenseTable th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
  }
  
  .expenseTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .expenseTable button {
    padding: 6px 12px;
    margin: 4px; 
    border: none;
   
    border-radius: 5px;
    cursor: pointer;
  } 
  .expenseList .text-font{
    color: black;
    
  }
  .expenseList .edit{
    background-color: green;
  }
  .expenseList .delet{
    background-color: rgb(177, 23, 23);
  }