.expenseList {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    background-color:rgb(224, 224, 96);
  }
  .expenseList p{
    display: inline-block; 
    position: relative;
    top: 4px;
  }
  .expenseList h2 {
    margin-bottom: 10px;
  }
  
  .expenseItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  } 
  .expenseCategory,
  .expenseDescription {
    flex: 1;
  }
  .expenseAmount {
    flex: 0.3;
    text-align: right;
    font-weight: bold;
    color: black;
  }
  .editBtn, .deleteBtn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .editBtn{
    background-color:yellow;
  color:black;
  margin-left: 1rem;
  }
  .editBtn:hover{
    background-color:rgb(240, 240, 6);
    box-shadow: 2px 3px 4px yellow;
  }
.deleteBtn{
  background-color: #da1f0a;
  color: #fff;
  margin-left: 10px;
}
.deleteBtn:hover{
  background-color: #c0392b;
  box-shadow: 2px 3px 4px #7c1e13;
}


  