
.home{
    height: 100vh ;
    display: flex;
    width: 100vw;
    justify-content: center;
   
   background-size: 80vh;
   
background-image: url("https://images.unsplash.com/photo-1507629221898-576a56b530bb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTZ8fGNvbG9yfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
   }
 
     .verifyBtn {
       
       background-color: yellow;
       color:black;
       padding: 10px 20px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       font-size: 16px;
       opacity: .8;
       transition: background-color 0.3s ease;
      
     }
     
     .verifyBtn:hover {
       background-color:yellow;
       box-shadow: 2px 3px 4px rgb(206, 206, 95);
       opacity: 1;
     }
     .errorMessage{
       color: red;
       font-weight: 500;
     } 
     .home2 ,h2,h3{
        padding-top: 10px;
        color:black;
      
     }
     .home2 h1{

      color: black;
     }
   