.topText{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    width: 90%;
    padding: .4rem 1rem;
    background-image: url("https://images.unsplash.com/photo-1552010099-5dc86fcfaa38?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTU2fHxjb2xvcnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60");
    
}
.quote{
  background-color:yellow;
  
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
font-weight: 700;
  font-size: 1.0 rem;
  color:black;
  margin-bottom: 10px;
}
.profileInfo{
    background-color:yellow;
    border-radius: 5px;
    padding: 10px 1rem;
    width: 450px;
    color: black;
    height: fit-content;
}
.profileInfo a{
   text-decoration: none; 
}
.profile-form-container {
    width: 70%;
    margin: 3rem auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 3px 2px 4px rgba(32, 32, 32, 0.5);
    background-color: #ffffff;
  }
  
  .title {
    margin-bottom: 16px;
    font-size: 24px;
    text-align: center;
  }
  .inputs{
    display: flex;
    justify-content: space-between;
  }
  .input-container {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  
  .label {
    margin-bottom: 8px;
    font-weight: bold;
    width: 70%;   
  }
  
  .input {
    width: 400px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 25%;
    margin-bottom: 1.5%;
  }
  
  .update-button {
    background-color:green;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    
    transition: background-color 0.2s;
  }
  
  .update-button:hover {
    background-color: rgb(17, 75, 17);
    box-shadow: 2px 3px 4px #03264d;
  }
  .cancel-button{
    background-color: #e21212;
    color: #ffffff;
    
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
    margin-left: 1rem;
  }
  .cancel-button:hover {
    background-color: #cc3131;
    box-shadow: 2px 3px 4px #771e1e;
  }
html{
  background-image: url("https://images.unsplash.com/photo-1604432486679-68ea3fecbe2b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHllbGxvdyUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
}
 
